body {
  font-family: 'Kanit', sans-serif;
  background: #050758;
  /* Substitua './src/images/background/poke-card.png' pelo caminho correto da sua imagem */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: none;
}

body.black-mode {
  background-color: #212121;
  color: #f5f5f5;
}

header #change-light {
  background: none;
  border: none;
}

header .logo {
  width: 200px;
  background: none;
  padding: none;
  border-radius: 200px;

}

header .botton-image {

  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  background: none;
  padding: none;
  border-radius: 100px;
}



header .logo.logo:hover,
header .botton-image:hover {
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.2s ease-in-out;

}




.button-container {
  text-align: center;
}

.button-container button {

  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.off {
  background-color: red;
}

.on {
  background-color: green;
}

#text-container {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: rgb(250, 235, 250);
}


button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.off {
  background-color: red;
}

.on {
  background-color: green;
}

.chartContainer{
  width: 500px;
  height: 300px;
  position: fixed; 
  bottom: 20px; 
  left: 20px;
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css");

#info {
  
  font-size: 14px;
  border: 4px outset yellow;
  width: 400px; /* Largura fixa de 300 pixels */
  padding: 10px; /* Adicionando um espaçamento interno para melhor visualização */
  box-sizing: border-box; /* Incluindo a largura da borda e o espaçamento no cálculo da largura total */

}

/*grafico*/
