@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #050758;

}


.logo{
  width: 100px;
  background: none;
  padding: none;
  border-radius: 100px;
  transform: scale(1.15);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  justify-content: space-between;


}

.botton-image {
  width: 50px;
  background: none;
  padding: none;
  border-radius: 100px;
  transform: scale(1.15);
  cursor: pointer;
  justify-content: space-between;

  transition: 0.2s ease-in-out;
}



.botton-image {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(1.15);
  cursor: pointer;
}

